<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Disasters</title>


    <!--import script files needed from plotly and bootstrap-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>

    <!--navbar links-->  
<nav class="navbar navbar-expand-lg navbar-dark bg-dark text-white sticky-top">
    <div class="container">
            <a class="navbar-brand" href="/">
                <img src="../static/img/zeimusu-Warning-notification.svg" width="30" height="30" class="d-inline-block align-top" alt="">
                Disaster Response Relief Service
            </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" 
    data-target="#navbarTogglerDemo02" 
    aria-controls="navbarTogglerDemo02" aria-expanded="false" 
    aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('databoard') }}">
                        Training Data
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/joshasgard">
                        
                        Github
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://linkedin.com/in/idowu-odesanmi"> 
                        
                        LinkedIn
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.udacity.com/">
                      Udacity
                    </a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" >
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>
        </div>

    </div>
</nav>
{% block visuals %}
    <!--Carousel-->  
<div id="carouselExampleIndicators" class="carousel slide" data-interval="false" data-ride="carousel" data-pause="hover">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner">

      <div class="carousel-item active">
    
            <!--Jumbotron with container for interacting with model and classification-->   
            <div class="jumbotron" style="height: 400px">
                <div class="container">

                    <h1 class="text-center"><a href="/" style = "text-decoration: None; color:inherit">Emergency Detection Aid</a></h1>
                    <p class="text-center">Analyzes your message for emergency response during crisis and disasters</p>
                    <hr />
                
                    <div class="row">
                        <div class="col-lg-12 form-group-lg">
                            <form action="/go" method="get">
                                <input type="text" class="form-control form-control-lg" name="query" placeholder="Enter an emergency message here to test model and find concerned agency">
                                <div class="col-lg-offset-5 text-center" style= "margin-top: 20px;">
                                    <button type="submit" class="btn btn-lg btn-success">Classify Message</button>
                                </div>
                            </form>
                        </div>
                    </div>

                    {% block message %}
                    {% endblock %}
                </div>
            </div>
      </div>

      <div class="carousel-item" style="height: 400px">
        <img class="d-block w-100" src="../static/img/[Downloader.la]-6190dae47719a.jpg" alt="Crisis slide">
      </div>

      <div class="carousel-item" style="height: 400px">
        <img class="d-block w-100" src="../static/img/[Downloader.la]-6190db14d386f.jpg" alt="Fire slide">
      </div>


      <div class="carousel-item" style="height: 400px">
        <img class="d-block w-100 " src="../static/img/[Downloader.la]-6190da949d5c3.jpg" alt="Button slide">
      </div>


    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  {% endblock %}


    <!--charts-->   
{% block content %}
<div class="container">
        
        {%block content_header%}
        <div class="page-header">
            <h1 class="text-center">Data Visualizations</h1>
        </div>
        {%endblock%}

        {% for id in ids %}
        <div id="{{id}}"></div>
        {% endfor %}
</div>
{% endblock %}
<!--Footer and Copyright-->
<div id="footer">
    {% block footer %}
    &copy; Copyright 2021 by <a href="mailto:idowuodesanmi@gmail.com">Idowu Odesanmi</a>
    {% endblock %}
    </div>

{%block scripts%}
    <!--scripts-->   
<script type="text/javascript">
    const graphs = {{graphJSON | safe}};
    const ids = {{ids | safe}};
    for(let i in graphs) {
        Plotly.plot(ids[i], 
            graphs[i].data, 
            graphs[i].layout);
    }
</script>
{%endblock%}

</body>
</html>